body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#appointmentChecked {
    height: 15px;
    width: 15px;
}

thead {
    padding: 10px;
}

thead td {
    font-weight: bold;
}

td {
   padding: 15px 15px 10px 0;
}
